*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(#3a7bd5, #3a6073);
    color: white;
}
.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 30px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}
